<div w-i18n-ns="app.wallet.assets">
    <div class="asset">
        <div class="asset__top">
            <div class="asset__wrapper"
                 ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'info'})">
                <w-asset-logo asset-id="{{::$ctrl.balance.asset.id}}" size="30"></w-asset-logo>
                <span class="asset__name">{{::$ctrl.balance.asset.name}}</span>
                <div ng-if="$ctrl.isVerified" class="status-label-min active">
                    <span w-i18n="modal.assetInfo.qualified" w-i18n-ns="app.utils"></span>
                </div>
                <div ng-if="$ctrl.isGateway" class="status-label-min active">
                    <span w-i18n="modal.assetInfo.gateway" w-i18n-ns="app.utils"></span>
                </div>
            </div>
            <div ng-click="$ctrl.onUnpinClick($ctrl.balance.asset)"
                 ng-if="$ctrl.isUnpinned()"
                 class="unpin">
                <div class="tooltip-holder">
                    <span></span>
                    <div class="tooltip unpin-tooltip">
                        <div w-i18n="Unpin"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="asset__middle"
             ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'info'})">
            <h2 class="asset__balance">
                <w-balance money="$ctrl.balance.available"></w-balance>
            </h2>

            <div ng-if="!$ctrl.balance.regular.eq($ctrl.balance.available)"
                 class="body-2 disabled-500 asset__balance-leasing"
                 w-i18n="directives.asset.ofTotalBalance"
                 params="{totalBalance: $ctrl.balance.regular.toFormat()}"></div>
        </div>
    </div>
    <hr>
    <div class="asset__footer">
        <w-button  class="button-with-icon button-medium" ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'send'})">
            <i class="button-img button-img-send"></i>
            <span class="button-text" w-i18n="directives.asset.send"></span>
        </w-button>

        <w-button  class="button-with-icon button-medium" ng-click="$ctrl.onClick({event: $event, asset: $ctrl.balance.asset, action: 'receive'})">
            <i class="button-img button-img-receive"></i>
            <span class="button-text" w-i18n="directives.asset.receive"></span>
        </w-button>
    </div>
</div>
